<!--
http://stackoverflow.com/questions/12403095/resizing-div-panel    
    http://jsfiddle.net/cRKpD/1/    
    http://stackoverflow.com/questions/35556344/angular2-dynamiccomponentloader-with-parameters
    http://stackoverflow.com/questions/26540165/typescript-and-libraries-such-as-jquery-with-d-ts-files
-->

<div class="grid" [(ngGrid)]="gridConfig">
    <!--<div id="w1" class="grid-item" [ngGridItem]="{'row':1, 'sizex': 10, 'sizey': 10}"> Hello this is a change </div>
    <div class="grid-item" [ngGridItem]="{'row':2, 'sizex': 10, 'sizey': 10}"></div>
    <div class="grid-item" [ngGridItem]="{ 'row':1, 'sizex': 10, 'sizey': 10}"></div>-->

        <div *ngFor="let box of boxes" [(ngGridItem)]="box.config" style="padding:5px">
        <div class="title">{{box.name}}</div>
        <table>
            <tr>
                <td *ngFor="let data of box.data | keys" style="padding:5px">
                {{ data.key }} 
                </td>
            </tr>
            <tr>
                <td *ngFor="let data of box.data | keys" style="padding:5px">
                {{ data.value }} 
                </td>
            </tr>
        </table>
        <!--<p>{{box.data | json}}</p>-->
    </div>
</div>
