  <div style="margin: 5px 5px 5px;">    
        <div class="title">{{box?.name}}</div>
        <ng2-completer [(ngModel)]="searchStr" pause=500 [dataService]="dataService" [minSearchLength]="0" placeholder="Search by ticker or name..." #stockname></ng2-completer>
        <button (click)="searchForStock(stockname.value)">
            Search
        </button>
        <br />
        <button (click)="selectAll()" [disabled]="!showCheckboxes" >
            Select All
        </button>
        <button (click)="deselectAll()" [disabled]="!showCheckboxes" >
            Deselect All
        </button>
        <div class="form-group">
            <label for="options">Options : </label>
            <table style="width:100%"> <tr>
            <th *ngFor="let option of options">
                <label>
                    <input type="checkbox"
                           name="options"
                           value="{{option.value}}"
                           [(ngModel)]="option.checked"
                            [disabled]="!showCheckboxes" />
                    {{option.name}}
                </label>
            </th>
            </tr></table>
        </div>
        <table style="float:bottom;">
            <tr>
                <td *ngFor="let data of box.data | keys" style="padding:5px">
                {{ data?.key }} 
                </td>
            </tr>
            <tr>
                <td *ngFor="let data of box.data | keys" style="padding:5px">
                {{ data?.value }} 
                </td>
            </tr>
            <tr ng-show="widgetControl.showError">
                {{ box?.error }}
            </tr>
        </table>
</div>