<!--
http://stackoverflow.com/questions/12403095/resizing-div-panel    
    http://jsfiddle.net/cRKpD/1/    
    http://stackoverflow.com/questions/35556344/angular2-dynamiccomponentloader-with-parameters
    http://stackoverflow.com/questions/26540165/typescript-and-libraries-such-as-jquery-with-d-ts-files
-->

<head>

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table tbody,
table thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    width: 50%
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
table tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody { border-top: 2px solid black; }
tbody td:last-child, thead th:last-child {
    border-right: none;
}

</style>

</head>
<body>
    
    <div> 
        <table style="width:100%" >
            <caption>Here are some popular companies and their stock symbols to get you started.</caption>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Symbol</th>
                    <th></th>

                </tr>
            </thead>
            
                <tbody>
                    <tr>
                        <td>American Airlines Group, Inc.</td>
                        <td>AAL</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Apple Inc.</td>
                        <td>AAPL</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Adobe Systems Incorporated</td>
                        <td>ADBE</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Analog Devices, Inc.</td>
                        <td>ADI</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Automatic Data Processing, Inc.</td>
                        <td>ADP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Autodesk, Inc.</td>
                        <td>ADSK</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Akamai Technologies</td>
                        <td>AKAM</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Alexion Pharmaceuticals</td>
                        <td>ALXN</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Amgen Inc.</td>
                        <td>AMGN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Amazon.com, Inc.</td>
                        <td>AMZN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Activision Blizzard, Inc.</td>
                        <td>ATVI</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Broadcom Limited</td>
                        <td>AVGO</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Bed Bath & Beyond Inc.</td>
                        <td>BBBY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Baidu, Inc.</td>
                        <td>BIDU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Biogen Inc.</td>
                        <td>BIIB</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>BioMarin Pharmaceutical Inc.</td>
                        <td>BMRN</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>CA Inc.</td>
                        <td>CA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Celgene Corporation</td>
                        <td>CELG</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cerner Corporation</td>
                        <td>CERN</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Check Point Software Tech. Lmtd.</td>
                        <td>CHKP</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Charter Communications, Inc.</td>
                        <td>CHTR</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Comcast Corporation</td>
                        <td>CMCSA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Costco Wholesale Corporation</td>
                        <td>COST</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Cisco Systems, Inc.</td>
                        <td>CSCO</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>CSX Corporation</td>
                        <td>CSCO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ctrip.com International, Ltd.</td>
                        <td>CTRP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cognizant Technology Solutions Corp.</td>
                        <td>CTSH</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Citrix Systems, Inc.</td>
                        <td>CTXS</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Discovery Communications, Inc.</td>
                        <td>DISCA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Discovery Communications, Inc.</td>
                        <td>DISCK</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DISH Network Corporation</td>
                        <td>DISH</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Dollar Tree, Inc.</td>
                        <td>DLTR</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Electronic Arts, Inc.</td>
                        <td>EA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>eBay Inc.</td>
                        <td>EBAY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Express Scripts Holding Company</td>
                        <td>ESRX</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Expedia, Inc.</td>
                        <td>EXPE</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Fastenal Company</td>
                        <td>FAST</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Facebook, Inc.</td>
                        <td>FB</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fiserv, Inc.</td>
                        <td>FISV</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Twenty-First Century Fox, Inc.</td>
                        <td>FOX</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Twenty-First Century Fox, Inc.</td>
                        <td>FOXA</td>
                        <td></td>                        
                    </tr>                   <tr>
                        <td>Gilead Sciences, Inc.</td>
                        <td>GILD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alphabet, Inc.</td>
                        <td>GOOG</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alphabet, Inc.</td>
                        <td>GOOGL</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Henry Schein, Inc.</td>
                        <td>HSIC</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Illumina, Inc.</td>
                        <td>ILMN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Incyte Corporation</td>
                        <td>INCY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Intel Corporation</td>
                        <td>INTC</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Intuit, Inc.</td>
                        <td>INTU</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Intuitive Surgical, Inc.</td>
                        <td>ISRG</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>JD.com, Inc.</td>
                        <td>JD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>The Kraft Heinz Company</td>
                        <td>KHC</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Liberty Global plc</td>
                        <td>LBTYA</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Liberty Global plc</td>
                        <td>LBTYK</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lam Research Corporation</td>
                        <td>LRCX</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Liberty Interactive Corporation</td>
                        <td>LVNTA</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Marriott International</td>
                        <td>MAR</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Mattel, Inc.</td>
                        <td>MAT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Microchip Technology Incorporated</td>
                        <td>MCHP</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mondelez International, Inc.</td>
                        <td>MDLZ</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Monster Beverage Corporation</td>
                        <td>MNST</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Microsoft Corporation</td>
                        <td>MSFT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Micron Technology, Inc.</td>
                        <td>MU</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Maxim Integrated Products</td>
                        <td>MXIM</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Mylan N.V.</td>
                        <td>MYL</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Norwegian Cruise Line Holdings Ltd.</td>
                        <td>NCLH</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Netflix,Inc.</td>
                        <td>NFLX</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NetApp, Inc.</td>
                        <td>NTAP</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>NetEase, Inc.</td>
                        <td>NTES</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>NVIDIA Corporation</td>
                        <td>NVDA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NXP Semiconductors N.V.</td>
                        <td>NXPI</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>O'Reilly Automotive, Inc.</td>
                        <td>ORLY</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Paycheck, Inc.</td>
                        <td>PAYX</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>PACCAR Inc.</td>
                        <td>PCAR</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>The Priceline Group, Inc.</td>
                        <td>PCLN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PayPal Holdings, Inc.</td>
                        <td>PYPL</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>QUALCOMM Incoprorated</td>
                        <td>QCOM</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Liberty Interactive Corporation</td>
                        <td>QVCA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Regeneron Pharmaceuticals, Inc.</td>
                        <td>REGN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ross Stores, Inc.</td>
                        <td>ROST</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>SBA Communications Corporation</td>
                        <td>SBAC</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Starbucks Corporation</td>
                        <td>SBUX</td>
                        <td></td>                        
                    </tr>                   <tr>
                        <td>Shire plc</td>
                        <td>SHPG</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sirius XM Holdings Inc.</td>
                        <td>SIRI</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Stericycle, Inc.</td>
                        <td>SRCL</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Seagate Technology PLC</td>
                        <td>STX</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Skyworks Solutions, Inc.</td>
                        <td>SWKS</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Symantec Corporation</td>
                        <td>SYMC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>T-Mobile US, Inc.</td>
                        <td>TMUS</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>TripAdvisor, Inc.</td>
                        <td>TRIP</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Tractor Supply Company</td>
                        <td>TSCO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tesla Motors, Inc.</td>
                        <td>TSLA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Texas Instruments Incorporated</td>
                        <td>TXN</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Ulta Salon, Cosmetics & Fragrance, Inc.</td>
                        <td>ULTA</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Viacom Inc.</td>
                        <td>VIAB</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Vodafone Group Plc</td>
                        <td>VOD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Verisk Analytics, Inc</td>
                        <td>VRSK</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Vertex Pharmaceuticals, Inc.</td>
                        <td>VRTX</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>Walgreens Boots Alliance, Inc.</td>
                        <td>WBA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Western Digital Corporation</td>
                        <td>WDC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Whole Foods Market, Inc.</td>
                        <td>WFM</td>
                        <td></td>
                    </tr>
                    <tr>          
                        <td>Xilinx, Inc.</td>
                        <td>XLNX</td>
                        <td></td>                        
                    </tr>
                    <tr>          
                        <td>DENTSPLY SIRONA Inc.</td>
                        <td>XRAY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Yahoo! Inc.</td>
                        <td>YHOO</td>
                        <td></td>
                    </tr>
                    
                </tbody>
        </table>
    </div>
    
</body> 
<div style="width:100%; height:40px;" [hidden]="isEdit">
    
    <div style="
    background-color: #444;
    width:400px;
    overflow: hidden;
    height:40px;
    float:left;
    "></div>
    
    <div style="
    width: 0;
	height: 0;
	border-top: 40px solid #444;
	border-right: 80px solid transparent;
    float:left;
    ">
    
    </div>
    


    
<div [hidden]="!haveWidgets" style="background-color:#eaeaea; height:40px;">
    <p style="margin: 0px 40px 0px; color:#333; font-size:18px; padding-top:5px;">
        Oops! Looks like you don't have any widgets! 
        Head on over to <b>Edit</b> to create your widget page!
    </p>
    
</div>

</div>



<div style="width:100%; height:40px;"  [hidden]="!isEdit">
    
    <div id="edit_div">
        
        <button (click)='addBox($event)'>Add Box</button>
        <select [(ngModel)]="addBoxNum"> Select
            <option *ngFor="let box of widgetChoiceMap" value={{box.id}}>{{box.name}}</option>
        </select>

        <button (click)='removeBox($event)'>Remove Box</button>
        <select [(ngModel)]="removeBoxNum"> Select
            <option *ngFor="let num of removeCheckBoxes" value={{num}}>{{num}}</option>
        </select>

    </div>
    
    <div id="edit_tri"></div>
   <div style="background-color:#eaeaea; height:40px;">     
    <p style="margin: 0px 40px 0px; color:#333; font-size:18px; padding-top:5px;">
        Choose from your widgets here!
        
    </p>
    
<!--  </div>   -->

</div>


<div class="grid" [(ngGrid)]="gridConfig">



<!--
    <div style="height:1000px;background-color:#898493;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
-->

<!--  Take this out, makes background too long

    <div class="parallax"></div>

-->

<!--
<div class="parallax">    -->

        <div #boxList *ngFor="let box of boxes" [(ngGridItem)]="box.config" style="display: flex; flex-wrap: wrap;"  (onDragStop)="widgetControl.onDrag(box.id, $event)" (onResizeStop)="widgetControl.onResize(box.id, $event)">
        <div #boxid id="{{box.id}}"></div>
    </div>
</div>
</div>
<!--
</div>
-->

