<!--
http://stackoverflow.com/questions/12403095/resizing-div-panel    
    http://jsfiddle.net/cRKpD/1/    
    http://stackoverflow.com/questions/35556344/angular2-dynamiccomponentloader-with-parameters
    http://stackoverflow.com/questions/26540165/typescript-and-libraries-such-as-jquery-with-d-ts-files
-->


<div style="width:100%; height:40px;" [hidden]="isEdit">
    <div style="
    background-color: #444;
    width:400px;
    overflow: hidden;
    height:40px;
    float:left;
    "></div>
    <div style="
    width: 0;
	height: 0;
	border-top: 40px solid #444;
	border-right: 80px solid transparent;
    float:left;
    ">
    </div>
<div [hidden]="!haveWidgets" style="background-color:#eaeaea; height:40px;">
    <p style="margin: 0px 40px 0px; color:#333; font-size:18px; padding-top:5px;">
        Oops! Looks like you don't have any widgets! 
        Head on over to <b>Edit</b> to create your widget page!
    </p>
</div>
</div>



<div style="width:100%; height:40px;"  [hidden]="!isEdit">
    <div id="edit_div">
        <button (click)='addBox($event)'>Add Box</button>
        <select [(ngModel)]="addBoxNum"> Select
            <option *ngFor="let box of widgetChoiceMap" value={{box.id}}>{{box.name}}</option>
        </select>

        <button (click)='removeBox($event)'>Remove Box</button>
        <select [(ngModel)]="removeBoxNum"> Select
            <option *ngFor="let num of removeCheckBoxes" value={{num}}>{{num}}</option>
        </select>

    </div>
    <div id="edit_tri"></div>
    <div style="background-color:#eaeaea; height:40px;">
    <p style="margin: 0px 40px 0px; color:#333; font-size:18px; padding-top:5px;">
        Choose from your widgets here!
    </p>
</div>
</div>


<div class="grid" [(ngGrid)]="gridConfig">
        
        <div #boxList *ngFor="let box of boxes" [(ngGridItem)]="box.config" style="display: flex; flex-wrap: wrap;" (onDragStop)="widgetControl.onDrag(box.id, $event)" (onResizeStop)="widgetControl.onResize(box.id, $event)">
        <div #boxid id="{{box.id}}"></div>
    </div>
</div>
