/*html {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#919191;
}*/

main {
    position: relative;
    /*padding-top: 60px;
    margin-right:auto;
    margin-left:auto;
    width:90%;*/
    background-color:#eaeaea;
}

body {
    background-color:#eaeaea;
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

.navbar-inner {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

footer {
    margin-top: 15px;
}

.navbar-inner.footer {
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;
}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

#ac_div {
    margin: 10px 10px 10px;
    color: #333;
}

#login_div {
    margin: 0px 10px 10px; 
    color: #333;
    background-color:#eaeaea;
}

#main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

#main_menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#main_menu li a:hover {
    color: #75b781;
    text-decoration: none;
    border-bottom:3px solid #75b781;
}
/*
#homeLink:hover{    
    color: #75b781;
    text-decoration: none;
    border-bottom:3px solid #75b781;
}*/

#widget-basic {
    border: 3px solid black;
}

.grid {
	background-color: white;
	width: 100%;
	min-height: 750px;
    height:100%;
}

.grid-item {
	background-color: #e5e5e5;
	-webkit-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-moz-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-o-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
    color:#333;
}

.grid-item:active, .grid-item.moving {
	z-index: 2;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.grid-placeholder {
	background-color: #75b781;
}

@media (max-width: 767px) {
	.grid {
		width: 100% !important;
		height: auto !important;
		padding: 10px;
	}
	.grid-item {
		position: static !important;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.grid-item:last-child {
		margin-bottom: 0;
	}
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding:5px;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
a {text-decoration: none;}

[hidden] { display: none !important;}

#edit_div {
    background-color: #444;
    width:400px;

    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
        overflow: hidden;
    height:40px;
    float:left;
}

#edit_div button{
    padding: 8px;
    text-align: left;
    color:white;
    background-color:#444;
    border: none;
}
#edit_div button:hover{
    background-color: yellowgreen;
    color: black;
}
#edit_tri {
    width: 0;
	height: 0;
	border-top: 40px solid #444;
	border-right: 80px solid transparent;
    float:left;
}
#title_tri {
    width: 0;
	height: 0;
	border-bottom: 40px solid #444;
	border-left: 80px solid transparent;
    float:left;
}